src/resources/presets/preset_schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
  PluginConfiguratorApp — Preset XML Schema v1.0
  ================================================
  This schema defines the structure of preset XML files used by the
  PluginConfiguratorApp.  Presets map directly to the five configuration
  tabs in the application (project_info, configuration, implementations,
  user_experience, development_workflow).

  Versioning
  ..........
  The <preset> root element carries a schema_version attribute so that
  future breaking changes to the format can be detected at load time.
  The current version is "1.0".

  Validation rules enforced here
  ...............................
  * The five section elements are required and must appear in order.
  * The <meta> section is optional.
  * All leaf elements within sections are optional; missing elements
    receive default values when loaded by ConfigManager.
  * Boolean leaf elements accept "true", "false", "1", or "0"
    (xs:boolean), plus the aliases "yes", "no", "on", and "off" via a
    union type.
  * GUI dimension elements (gui_width, gui_height) must be positive
    integers when present.
  * All other leaf elements are plain strings.

  Full XSD validation (e.g., via the lxml library or an XML IDE) will
  catch structural and type errors.  Semantic constraints (non-empty
  required fields, bundle-ID format, etc.) are enforced by ConfigManager
  at the Python level.
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

  <!-- ================================================================
       Root element
       ================================================================ -->
  <xs:element name="preset" type="PresetType"/>

  <!-- ================================================================
       Shared simple types
       ================================================================ -->

  <!--
    BooleanField: extends xs:boolean ("true", "false", "1", "0") with the
    extra aliases recognised by ConfigManager ("yes", "no", "on", "off").
  -->
  <xs:simpleType name="BooleanField">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:boolean"/>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="yes"/>
          <xs:enumeration value="no"/>
          <xs:enumeration value="on"/>
          <xs:enumeration value="off"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>

  <!-- ================================================================
       Root complex type
       ================================================================ -->
  <xs:complexType name="PresetType">
    <xs:sequence>
      <xs:element name="meta"                 type="MetaType"                 minOccurs="0"/>
      <xs:element name="project_info"         type="ProjectInfoType"/>
      <xs:element name="configuration"        type="ConfigurationType"/>
      <xs:element name="implementations"      type="ImplementationsType"/>
      <xs:element name="user_experience"      type="UserExperienceType"/>
      <xs:element name="development_workflow" type="DevelopmentWorkflowType"/>
    </xs:sequence>
    <!-- Human-readable preset name (used as display label) -->
    <xs:attribute name="name"           type="xs:string" use="optional"/>
    <!--
      schema_version tracks the preset file format version.
      Increment this value when making backwards-incompatible changes to
      the schema.  Loaders should reject or migrate files whose version
      they do not recognise.
    -->
    <xs:attribute name="schema_version" type="xs:string" use="optional" default="1.0"/>
  </xs:complexType>

  <!-- ================================================================
       <meta> section
       ================================================================ -->
  <xs:complexType name="MetaType">
    <xs:sequence>
      <xs:element name="description" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <!-- ================================================================
       <project_info> section
       ================================================================ -->
  <xs:complexType name="ProjectInfoType">
    <xs:all>
      <!-- Template source (display name and Git URL) -->
      <xs:element name="template_name"      type="xs:string"          minOccurs="0"/>
      <xs:element name="template_url"       type="xs:string"          minOccurs="0"/>
      <!-- Plugin identity (required at semantic level; validated by ConfigManager) -->
      <xs:element name="project_name"       type="xs:string"          minOccurs="0"/>
      <xs:element name="product_name"       type="xs:string"          minOccurs="0"/>
      <xs:element name="version"            type="xs:string"          minOccurs="0"/>
      <xs:element name="company_name"       type="xs:string"          minOccurs="0"/>
      <!-- Reverse-domain bundle ID, e.g. com.company.plugin -->
      <xs:element name="bundle_id"          type="xs:string"          minOccurs="0"/>
      <!-- JUCE 4-character codes -->
      <xs:element name="manufacturer_code"  type="xs:string"          minOccurs="0"/>
      <xs:element name="plugin_code"        type="xs:string"          minOccurs="0"/>
      <!-- Filesystem path for generated project output -->
      <xs:element name="output_directory"   type="xs:string"          minOccurs="0"/>
    </xs:all>
  </xs:complexType>

  <!-- ================================================================
       <configuration> section
       ================================================================ -->
  <xs:complexType name="ConfigurationType">
    <xs:all>
      <!-- Plugin format targets -->
      <xs:element name="standalone"              type="BooleanField"       minOccurs="0"/>
      <xs:element name="vst3"                    type="BooleanField"       minOccurs="0"/>
      <xs:element name="au"                      type="BooleanField"       minOccurs="0"/>
      <xs:element name="auv3"                    type="BooleanField"       minOccurs="0"/>
      <xs:element name="clap"                    type="BooleanField"       minOccurs="0"/>
      <!-- Audio Unit component descriptor -->
      <xs:element name="au_component_type"         type="xs:string"        minOccurs="0"/>
      <xs:element name="au_component_subtype"      type="xs:string"        minOccurs="0"/>
      <xs:element name="au_component_manufacturer" type="xs:string"        minOccurs="0"/>
      <xs:element name="au_version"                type="xs:string"        minOccurs="0"/>
      <!-- CLAP extension and feature identifiers (comma-separated lists) -->
      <xs:element name="clap_extensions"         type="xs:string"          minOccurs="0"/>
      <xs:element name="clap_features"           type="xs:string"          minOccurs="0"/>
      <!-- AUv3 target platform, e.g. "iOS" or "macOS" -->
      <xs:element name="auv3_platform"           type="xs:string"          minOccurs="0"/>
      <!-- GUI dimensions in pixels (must be positive integers) -->
      <xs:element name="gui_width"               type="xs:positiveInteger" minOccurs="0"/>
      <xs:element name="gui_height"              type="xs:positiveInteger" minOccurs="0"/>
      <xs:element name="resizable"               type="BooleanField"       minOccurs="0"/>
      <!-- Optional path to a background image asset -->
      <xs:element name="background_image"        type="xs:string"          minOccurs="0"/>
      <!-- Build / distribution options -->
      <xs:element name="code_signing"            type="BooleanField"       minOccurs="0"/>
      <xs:element name="installer"               type="BooleanField"       minOccurs="0"/>
      <!-- DSP processing options -->
      <xs:element name="default_bypass"          type="BooleanField"       minOccurs="0"/>
      <xs:element name="input_gain"              type="BooleanField"       minOccurs="0"/>
      <xs:element name="output_gain"             type="BooleanField"       minOccurs="0"/>
    </xs:all>
  </xs:complexType>

  <!-- ================================================================
       <implementations> section
       ================================================================ -->
  <xs:complexType name="ImplementationsType">
    <xs:all>
      <xs:element name="moonbase_licensing"    type="BooleanField" minOccurs="0"/>
      <xs:element name="melatonin_inspector"   type="BooleanField" minOccurs="0"/>
      <xs:element name="custom_gui_framework"  type="BooleanField" minOccurs="0"/>
      <xs:element name="logging_framework"     type="BooleanField" minOccurs="0"/>
      <xs:element name="clap_builds"           type="BooleanField" minOccurs="0"/>
      <xs:element name="preset_management"     type="BooleanField" minOccurs="0"/>
      <!--
        preset_format: serialisation format for plugin presets.
        Common values: "" (none), "XML", "Binary".
      -->
      <xs:element name="preset_format"         type="xs:string"    minOccurs="0"/>
      <xs:element name="ab_comparison"         type="BooleanField" minOccurs="0"/>
      <xs:element name="state_management"      type="BooleanField" minOccurs="0"/>
      <xs:element name="gpu_audio"             type="BooleanField" minOccurs="0"/>
    </xs:all>
  </xs:complexType>

  <!-- ================================================================
       <user_experience> section
       ================================================================ -->
  <xs:complexType name="UserExperienceType">
    <xs:all>
      <xs:element name="wizard"            type="BooleanField" minOccurs="0"/>
      <xs:element name="preview"           type="BooleanField" minOccurs="0"/>
      <xs:element name="preset_management" type="BooleanField" minOccurs="0"/>
    </xs:all>
  </xs:complexType>

  <!-- ================================================================
       <development_workflow> section
       ================================================================ -->
  <xs:complexType name="DevelopmentWorkflowType">
    <xs:all>
      <xs:element name="vcs"              type="BooleanField" minOccurs="0"/>
      <xs:element name="testing"          type="BooleanField" minOccurs="0"/>
      <xs:element name="code_quality"     type="BooleanField" minOccurs="0"/>
      <xs:element name="validation_tools" type="BooleanField" minOccurs="0"/>
      <xs:element name="scaffolding"      type="BooleanField" minOccurs="0"/>
    </xs:all>
  </xs:complexType>

</xs:schema>
